__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
Thumbs.db

.idea/
.vscode/
.workbuddy/

node_modules/
tmp/

outputs/**
!outputs/.gitkeep
checkpoints/**
!checkpoints/.gitkeep
res/**
!res/.gitkeep

data/ISRUC_S3/*.npz
data/SleepEDF_78/*.npz

*.pth
*.npy
*.npz
*.log
